body{
    background:#0f172a;
    color:white;
    text-align:center;
    font-family:Arial;
}

h1{
    margin-top:50px;
}

.game-card{
    background:#1e293b;
    width:300px;
    margin:50px auto;
    padding:20px;
    border-radius:10px;
}

button{
    padding:10px 20px;
    background:#22c55e;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
}